<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/international_activity_style.css')}}">

{% extends 'head.html' %}



{% block title %}
Міжнародна діяльність
{% endblock %}


{% block content %}
  
<div class="content">
   
<h1>Міжнародна діяльність</h1>

<h3 id="contents-h">Зміст сторінки:</h3>
<ol id="contents">
<li><a href="#1">European Consortium for Mathematics in Industry</a></li>
<li><a href="#2">Співпраця в рамках програми Horizon 2020</a></li>
<li><a href="#3">Співпраця в рамках NATO</a></li>
<li><a href="#4">Міжнародні академічні зв’язки</a></li>
<li><a href="#5">Міжнародна конференція з науки про дані та інтелектуального аналізу інформації</a></li>
</ol>

<h2 id="1">1.European Consortium for Mathematics in Industry</h2>

<p>У 2010 році кафедра прикладної математики стала членом <a href="https://ecmiindmath.org/" target="_blank">Європейського консорціуму з математики в індустрії (ECMI)</a> i з тих пір бере активну участь у його роботі, займається впровадженням загальноєвропейських підходів та принципів до навчання студентів в області прикладної математики. Починаючи з 2012/2013 навчального року, навчання магістрантів переведено на новий навчальний план, який повністю задовольняє всі вимоги ECMI. Зокрема, уведено таку інноваційну форму навчання, як семестровий семінар із прикладного моделювання.

Провідні представники консорціуму періодично приїздять до КПІ ім. Ігоря Сікорського з лекціями та семінарами, зокрема: професор Магнус Фонтес, <a href="https://www.lunduniversity.lu.se/" target="_blank">Лундський університет</a> (25 травня 2010 р.), професор Матті Хейліо, <a href="https://www.lut.fi/web/en" target="_blank">Технологічний університет Лаппенранта</a>(17 травня 2012 р.).

Студенти кафедри регулярно беруть участь у роботі заходів, які проводить консорціум:

<ul>
<li>магістранти кафедри Сергій Сірик та Ігор Терещенко у 2010 р. брали участь у роботі Тижня моделювання, що проводився ECMI у м. Мілан (Італія). За результатами дослідницької роботи було підготовлено наукові публікації</li>
<li>магістранти кафедри Олександра Дмитренко, Тарас Сліпець та Ігор Зарванський брали участь у роботі Літньої школи та Тижня моделювання ECMI в м. Дрезден (Німеччина) у серпні 2012 р.</li>
<li>студентка кафедри Анастасія Щербак брала участь у роботі Тижня моделювання ECMI в м. Лісабон (Португалія) у липні 2015 р. та одержала відповідний сертифікат</li>
</ul></p>


<h2 id="2">2.Співпраця в рамках програми Horizon 2020</h2>
<p>
Кафедра прикладної математики з 2015 року є учасником проекту <a href="https://cordis.europa.eu/project/rcn/194356/factsheet/en" target="_blank">AMMODIT</a> (Методи апроксимації для засобів молекулярного моделювання та діагностики, Approximation Methods for Molecular Modelling and Diagnosis Tools) у межах Рамкової програми Європейського Союзу для досліджень та інновацій (2014–2020) <a href="https://ec.europa.eu/programmes/horizon2020/" target="_blank">Horizon 2020.</a>

Тривалість проекту: 1.08.2015–31.07.2019.
Максимальний розмір гранту — 823 500 €.

Проект <a href="https://cordis.europa.eu/project/rcn/194356/factsheet/en" target="_blank">AMMODIT</a> зібрав разом науково-дослідницькі колективи з країн Європейського Союзу (Німеччина, Італія та Австрія) та України (Київ, Донецьк, Слов’янськ) в галузі прикладної математики, орієнтовані на застосування в медицині та науках про життя.
Метою проекту є проведення спільних досліджень у шістьох наукових напрямках:

<ol>
<li>вивчення математичних методів отримання зображень магнітно-порошковим методом</li>
<li>ентропієподібні міри та розрахунок складності систем</li>
<li>грубозернисте моделювання (біо)полімерів</li>
<li>засоби діагностики в хірургії серця</li>
<li>методи регуляризації для виявлення причинно-наслідкових зв’язків</li>
<li>підхід із метанавчанням до прогнозування нічної гіпоглікемії</li>
</ol>
У рамках проекту:
<ul>
<li>у липні-серпні 2015 року завідувач кафедри Чертов О. Р. та аспірантка Александрова М. В. пройшли стажування в <a href="https://www.ricam.oeaw.ac.at/" target="_blank">Інституті обчислювальної та прикладної математики ім. Й. Радона (RICAM)</a> (м. Лінц, Австрія)</li>
<li>у грудні 2015 року старший викладач кафедри Терещенко І. О. пройшов стажування в <a href="https://www.polimi.it/en/" target="_blank">Міланській політехніці</a> (м. Мілан, Італія)</li>
<у 2016 та 2017 роках старший викладач кафедри Сірик С. В. проходив декількамісячні стажування в <a href="https://www.polimi.it/en/" target="_blank">Міланській політехніці</a> (м. Мілан, Італія)</li>
</ul>
</p>




<h2 id="3">Співпраця в рамках NATO</h2>

<p>Кафедра прикладної математики з 2017 року є учасником проекту SPS G5286 «Cyber Rapid Analysis for Defense Awareness of Real-time Situation — CyRADARS» («Оперативний аналіз кіберзагроз для володіння ситуацією в умовах реального часу») у межах програми NATO Science for Peace and Security (SPS).

Тривалість проекту: 1.11.2017–31.10.2020.
Загальне фінансування проекту — 433 000 євро, у т.ч. на кафедру прикладної математики — 153 800 євро.
Фінансування включає, зокрема, поставку комп’ютерного обладнання для тренінгового центру, стипендії молодим ученим, підтримку участі в конференціях тощо.

Основною метою проекту CyRADARS є розвиток новітніх теоретичних засад, методів та дослідницьких прототипів програмних засобів для забезпечення володіння ситуацією в рамках операцій, пов’язаних із розповсюдженням шкідливої інформації. Відповідні методи та засоби в разі їх впровадження в національних організаціях, відповідальних за кіберзахист, дадуть змогу:
<ul>
<li>моніторити національний кіберпростір для аналізу інформаційних вкидів та пропагування шкідливої інформації</li>
<li>інформувати відповідальні національні органи</li>
<li>створювати умови, неодмінні для ухвалення рішень щодо протидії чи активного реагування на ворожі кіберкампанії</li>
</ul>
</p>



<h2 id="4">4.Міжнародні академічні зв’язки</h2>
<p>Зростає зацікавленість українських студентів до навчання за кордоном. Завдяки зв’язкам кафедри, участі в спільних освітньо-професійних програмах із зарубіжними партнерами з’являється все більше можливостей для реалізації таких планів. Зокрема, у 2009 році кафедра уклала Договір із підготовки магістрів із Вищою політехнічною школою (Ecole Polytechnique de Paris), Париж, Франція; у 2010 р. ― Договір із підготовки магістрів з Університетом Ле Ман (Université du Maine, Франція). У 2012 році за ініціативи факультету прикладної математики підписано договір про магістерську підготовку за програмами подвійного диплому між НТУУ «КПІ» та Технологічним університетом Лаппенранта (Lappeenranta University of Technology, Фінляндія).

За останні роки скористалися міжнародними зв’язками кафедри такі студенти, аспіранти та викладачі:
<ul>
<li>магістрант Козленко М. В. навчався протягом двох років (2010–2012) у Вищій політехнічній школі паралельно з навчанням на нашій кафедрі</li>
<li>студентка Перлова Д. І. навчалася один семестр у 2012 р. у Варшавському технологічному університеті (Warsaw University of Technology, Польща) за програмою обміну Erasmus Mundus Action 2 EWENT</li>
<li>магістрант Віжевський П. В. навчався протягом двох років (2013–2015) в Технологічному університеті Лаппенранта за програмою одержання подвійного диплому</li>
<li>магістрант Савін Є. В. навчався протягом двох років (2013–2015) в Університеті Ле Ман за програмою одержання подвійного диплому</li>
<li>магістрантка Коршунова І. А. навчалася протягом двох років (2013–2015) в Гентському університеті (Universiteit Gent, Бельгія) за програмою обміну Erasmus Mundus Action 2 EUROEAST</li>
<li>студентка Матвійчук С. В. у 2015 р. навчалася в Університеті м. Фрайберг (Technische Universität Bergakademie Freiberg, Німеччина) за програмою IAESTE</li>
<li>асистенти кафедри Сірик С. В. та Терещенко І. О. в червні-серпні 2015 р. пройшли стажування в Міланській політехніці (Politecnico di Milano, Італія) у рамках проекту EU-Ukrainian Mathematicians for Life Sciences</li>
<li>асистент кафедри Тавров Д. Ю. у жовтні 2015 р.–березні 2016 р. проходив стажування за програмою ім. Фулбрайта в Університеті Карнегі-Меллона (Carnegie Mellon University, США)</li>
<li>магістрант Гожий В. В. у 2016 р. проходив наукове стажування в Університеті Лотарингії (Université de Lorraine, Франція)</li>
<li>студент Щьоголєв М. О. навчався один семестр у 2016 р. в Університеті м. Люксембург (University of Luxembourg, Люксембург) за програмою обміну Erasmus+</li>
<li>аспірантка Александрова М. В. навчалася протягом чотирьох років (2013–2017) за програмою подвійної аспірантури в НТУУ «КПІ» та Університеті Лотарингії (Université de Lorraine, Франція)</li>
<li>аспірант Пальченко О. П. з 2016 р. навчається в Університеті Лотарингії (Université de Lorraine, Франція) за програмою обміну Erasmus+</li>
</ul>
</p>

<h2 id="5">5.Міжнародна конференція з науки про дані та інтелектуального аналізу інформації</h2>
  
<p>Кафедра прикладної математики з 2001 року щорічно проводила Міжнародну наукову конференцію ім. Т. А. Таран «Інтелектуальний аналіз інформації». Серед засновників конференції ― Російська асоціація штучного інтелекту, видавництво «Просвіта», серед країн-учасниць ― Україна, Росія, Білорусь, Польща, Азербайджан.

Починаючи з 2018 року, конференцію змінює свою назву на Міжнародну конференцію з науки про дані та інтелектуального аналізу інформації (International Conference on Data Science and Intelligent Analysis of Information), що відображає розширення її тематики та кола учасників. Одним зі співорганізаторів конференції стала Київська школа економіки.

Міжнародна діяльність на факультеті прикладної математики координується <a href="http://interoffice.fpm.kpi.ua/" target="_blank">міжнародним офісом ФПМ</a>.
</p>

</div>




{% endblock %}