<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/vstup_bakalavrat_style.css')}}">

{% extends 'head.html' %}

{% block title %}
Вступ на бакалаврат
{% endblock %}

{% block content %}
  


 <div class="content">
<h1>Вступ на перший курс</h1>
<h3 id="contents-h">Зміст сторінки:</h3>
<ol id="contents">
<li><a href="#1">Чим займаються прикладні математики</a></li>
<li><a href="#2">Прийом на спеціальність</a></li>
<li><a href="#3">Які дисципліни викладають на бакалавраті?</a></li>
<li><a href="#4">Яким мовам програмування навчають на кафедрі?</a></li>
<li><a href="#5">Ким можна працювати по завершенні кафедри</a></li>
<li><a href="#6">Чи є можливість продовження навчання за кордоном?</a></li>
<li><a href="#7">Поселення  в гуртожиток</a></li>
</ol>

<h2 id="1">1.Чим займаються прикладні математики</h2>

<p>Зміст діяльності фахівців із прикладної математики полягає в:
<ul>
<li>розробленні інформаційних технологій</li>
<li>математичному моделюванні складних технічних, економічних, біологічних процесів та явищ</li>
<li>розробленні теоретичних основ математичного та програмного забезпечення систем опрацювання даних різної природи</li>
<li>розробленні систем штучного інтелекту (artificial intelligence),алгоритмів інтелектуального аналізу даних (data mining), методів машинного навчання (machine learning) і обчислювального інтелекту (computational intelligence)</li>
<li>розробленні математичних і програмних засобів опрацювання великих масивів даних (big data)</li>
</ul></p>

<h2 id="2">2.Прийом на спеціальність</h2>
<p>
Прийом на спеціальність 113 Прикладна математика проводиться на конкурсній основі.
Додаткову інформацію про правила прийому на перший курс можна знайти на <a href="https://pk.kpi.ua/specialities/s-113/#34" target="_blank">сайті Приймальної комісії КПІ ім. Ігоря Сікорського.</a>
Для вступу на кафедру потрібно подати наступні сертифікати зовнішнього незалежного оцінювання?
<table>
<tr class="first-row"><th>Предмет</th>
<th>Вагомий коефіцієнт предмету</th>

<th>ФДП</th>
<th title="* Призерам (особам, нагородженим дипломами І-ІІІ ступенів) IV етапу Всеукраїнських учнівських олімпіад 2019 року з базових предметів, призерам III етапу Всеукраїнського конкурсу-захисту науково-дослідницьких робіт учнів – членів Малої академії наук України 2019 року нараховується 10 балів, а якщо конкурсний бал вступника при цьому перевищує 200, то він встановлюється таким, що дорівнює 200. Інформацію про них Приймальна комісія отримує з Єдиної бази (Наказ МОН України №1096 від 11.10.18, гл. VII, п.8.1).">МАН*</th>
<th>Мінімальна кількість балів</th>
</tr>



<tr><td class="first-col">1. Українська мова та література</td>
<td>0,2</td><td rowspan="4">0</td><td rowspan="4">10</td><td>100</td></tr>

<tr><td class="first-col">2. Математика</td>
<td>0,5</td><td rowspan="2">Один не менше 125 за умови, що інший не менше 100</td>
</tr>

<tr><td class="first-col" title="* У 2019 році приймаються результати зовнішнього незалежного оцінювання 2017, 2018 та 2019 років, крім оцінок з англійської мови, результати якої приймаються лише із сертифікатів зовнішнього незалежного оцінювання 2018 або 2019 років (Наказ МОН України №1096 від 11.10.18, гл. VII, п.1).">3.Фізика або іноземна мова*</td>
<td>0,2</td>
</tr>

<tr><td class="first-col">4.Середній бал атестату</td>
<td>0,05</td><td>0</td>
</tr>

</table>


***Сільський коефіцієнт для спеціальності 113 Прикладна математика дорівнює 1,02.</p>


<h2 id="3">3.Які дисципліни викладають на бакалавраті?</h2>

<p>Під час навчання на бакалавраті ти будеш вивчати наступні дисципліни:

(для додаткової інформації переглянь <a href="http://pma.fpm.kpi.ua/sites/default/files/curriculum_2017_undergrad.pdf" target="_blank">фрагмент навчального плану</a>):
<ul>
  <li><div id="math">Математичні дисциплін:</div> 
  Алгебра і геометрія, Дискретна математика, Математичний аналіз, Математична логіка та теорія алгоритмів, Теорія ймовірності, Математична статистика, Теорія функцій комплексної змінної, Диференціальні рівняння, Методи обчислень, Випадкові процеси,Функціональний аналіз, Методи оптимізації, Дослідження операцій, Аналіз даних, Рівняння математичної фізики, Математичне моделювання, Методи штучного інтелекту, Системний аналіз, Теорія керування</li>
<li><div ig="comp">Комп'ютерні дисциплін: </div>Архітектура обчислювальних систем, Програмування, Програмування мовою Python, Алгоритми і структури даних, Програмування та підтримка веб-застосувань, Обчислювальна геометрія та комп’ютерна графіка, Об’єктно-орієнтоване програмування, Вступ до SQL, Забезпечення якості ПЗ, Комп’ютерні мережі, Бази даних та інформаційні системи, Операційні системи, Алгоритми і системи комп’ютерної математики</li>
<li><div id="other">Допоміжні дисципліни: </div>Фізика, Історія науки і техніки, Культура науково-технічного мовлення фахівця, Фізичне виховання, Філософія, Психологія, Екологія, Іноземна мова (англійська), Економіка і організація виробництва</li></ul>
</p>

<h2 id="4">4.Яким мовам програмування навчають на кафедрі?</h2>
<p>
<ul>
<li>1-ий курс: Python, C/C++</li>
<li>2-ий курс: Java, SQL, PHP, HTML, Javascript</li>
<li>3-ій курс: SQL</li>
<li>4-ий курс: Prolog, LISP</li>
</ul>
</p>

<h2 id="5">5.Ким можна працювати по завершенні кафедри</h2>
  
<p>Глибокі знання в галузі математики, data science та інформаційних технологій відкривають для випускників кафедри безліч можливостей на сучасному ринку праці, де можна обрати саме те, що відповідає їхнім здібностям та вподобанням.

Наші випускники працюють у найвідоміших організаціях і компаніях як в Україні, так і за кордоном:
<ul>
<li>Software Engineer, Web Developer: Microsoft, Samsung R&D, EPAM Systems, GlobalLogic, Infopulse, Luxoft, Ciklum, DataArt, Terrasoft, ...</li>
<li>Data Scientist, Data Analyst, Business Analyst: Європейська комісія, Інтерпол, UniCredit Bank, ПриватБанк, Dragon Capital, ...</li>
<li>Technical Lead, System Architect, System Administrator: Miratech, Ciklum, Luxoft, Nokia Solutions and Networks, ...</li>
<li>науковець: Інститут кібернетики ім. В. М. Глушкова НАНУ, Інститут математики НАНУ, західні університети та наукові центри</li>
</ul>
Зарплати відповідних фахівців у Києві станом на червень 2017 р. (за даними порталу <a href="https://dou.ua/" target="_blank">dou.ua</a>):
<ul>
<li>Software Engineer (Java) — $2000</li>
<li>Business Analyst — $1250</li>
<li>Data Scientist — $1250</li>
<li>Technical Lead — $4000</li>
</ul>
</p>


<h2 id="6">6.Чи є можливість продовження навчання за кордоном?</h2>
<p>Так, низка наших студентів після закінчення бакалаврату продовжили навчання в європейських університетах, у тому числі за програмами подвійного диплому.Протягом багатьох років викладачі, аспіранти та студенти кафедри підтримують активні міжнародні контакти в науковій сфері.
Детальнішу інформацію про міжнародні академічні зв’язки кафедри дивись на сторінці <a href="international_activity.html" target="_blank">Міжнародна діяльність</a></p>




<h2 id="7">7.Поселення  в гуртожиток</h2>
<p>мені набридло шукати, доповнювати і писати текст, тому цей пункт буде пустим... поки що</p>

</div>




{% endblock %}